.main{
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
}
.header{
    width: 560px;
    margin: 0 auto;
    padding: 30px 50px;
    background-color:#FFE600 ;
    text-align: center;
    border:1px #000 solid;
    
}
.header h1{
    font-size: 30px;
}

.section-one{
    background-color: #000;
    color: #fff;
    width: 560px;
    margin: 0 auto;
    padding: 30px 50px;
    border:1px;
    border:1px #000 solid;
}
h1,p{
    margin-top: 0;
}
h1{
    font-size: 28px;
}
p{
    margin-bottom: 18px;
    font-size: 23;
}
.links{
    margin-top: 45;
    margin-bottom: 0;
}
span{
    color: #FFE600;
}
span a{
    color: #FFE600; 

}

.section-two{
    background-color: #fff;
    width: 560px;
    margin: 0 auto;
    padding: 30px 50px;
    border:1px #000 solid;
}


/* end Card one  */

/* All button styles  */
.btn{
    margin-right: 25px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;   /*linkiga yee kasaare buttonka */
    margin-bottom: 0px;
    font-weight: bold;
}

.yellow{
    display: inline-block;
    background-color:#FFE600 ;
    color: #000;
   
}
.yellow:hover{
    background-color:hotpink;
    color: #fff;

}

.dark{
    display: inline-block;
    background-color:#000;
    color: #FFE600;

}
.dark:hover{
    background-color:hotpink;
    color: #fff;

}
.link{
    color: #000;
}